---
import { cn } from "@/utils/cn";
import ProjectBlock from "./ProjectBlock.astro";

import projects from "@/projects.json";
---

<div class="grid grid-flow-row gap-6">
  <div
    class={cn("grid grid-cols-1", "mb-4", "grid-flow-rows", "rounded-2xl")}
    id="projects"
  >
    {projects.map((prj, i) => <ProjectBlock {...prj} index={i} />)}
  </div>

  <button
    class="px-4 py-2 text-sm rounded-2xl justify-self-center bg-season-text/5"
    id="prj-swap"
  >
    Swap &rightleftharpoons;
  </button>
</div>

<script>
  const projects = document.querySelectorAll("[data-project-index]");
  const swap = document.getElementById("prj-swap");

  const length = projects.length;

  let currentActiveIndex = 0;

  swap?.addEventListener(
    "click",
    function () {
      projects[currentActiveIndex].setAttribute("data-project-active", "false");
      currentActiveIndex = (currentActiveIndex - 1 + length) % length;
      projects[currentActiveIndex].setAttribute("data-project-active", "true");
    },
    true,
  );
</script>
