---
import { cn } from "@/utils/cn";
import ExternalLink from "@/components/ExternalLink.astro";
import GitHubIcon from "@/components/Icons/GitHubIcon.astro";
import GlobeIcon from "../Icons/GlobeIcon.astro";

type Props = {
  name: string;
  description: string;
  tag: string;
  index: number;
} & (
  | {
      repo: string;
      site?: never;
    }
  | {
      site: string;
      repo?: never;
    }
);

const { name, description, tag, index, repo, site } = Astro.props;
---

<div
  class={cn(
    "grid",
    "grid-rows-[max-content_1fr_max-content]",
    "gap-4",
    "rounded-2xl",
    "py-4",
    "px-8",
    "relative",
    "self-stretch",
    "bg-season/5",
    "backdrop-blur-lg",
    "transition-all",
    "row-span-full",
    "col-span-full",
    "transition-all",
    "project",
  )}
  data-project-index={index}
  data-project-active={!index}
>
  <div class="text-2xl font-bold shrink-0">{name}</div>

  <p class="m-0">{description}</p>

  <div class="flex items-center justify-end gap-2">
    <span
      class="px-2 py-2 text-xs font-bold rounded-lg bg-season/5 justify-self-end"
    >
      {tag}
    </span>
    <ExternalLink
      href={repo || site}
      class="inline-flex items-center justify-center gap-2 px-2 py-2 text-xs rounded-lg justify-self-stretch ignore bg-season-text/5"
    >
      {
        !!repo && (
          <>
            <GitHubIcon size={16} />
            GitHub
          </>
        )
      }

      {
        !!site && (
          <>
            <GlobeIcon size={16} />
            Website
          </>
        )
      }
    </ExternalLink>
  </div>
</div>

<style>
  @reference "../../styles/global.css";

  [data-project-active="true"] {
    @apply opacity-100 scale-100 translate-y-0 z-10;
  }

  [data-project-active="false"] {
    @apply opacity-50 scale-95 translate-y-4 z-0;
  }
</style>
