---
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import RootLayout from "@/layouts/RootLayout.astro";

const posts = (await getCollection("blog"))
  .filter((p) => p.slug.toLocaleLowerCase().trim() !== "dummy")
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const havePosts = !!posts.length;
---

<RootLayout>
  <ul>
    {
      havePosts &&
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`} class="grid grid-flow-row">
              <img
                src={post.data.heroImage}
                alt=""
                class="justify-self-stretch"
              />
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
          </li>
        ))
    }

    {
      !havePosts && (
        <p class="text-season-text/50 transition-colors duration-1000 text-center">
          No posts yet. Something is brewing!
        </p>
      )
    }
  </ul>
</RootLayout>
