@import './code-blocks.css' layer(base);
/* @import "./seasons.css"; */

@import 'tailwindcss';

@config '../../tailwind.config.mjs';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  :root {
    --season-primary: 0, 0, 0;
    --season-text: 9, 9, 11;
    --season-bg: 250, 250, 250;

    &.dark {
      --season-primary: 255, 255, 255;
      --season-text: 212, 212, 216;
      --season-bg: 9, 9, 11;
    }

    --icon-size: 32px;
    --header-height: 6rem;
    --footer-height: 9rem;
    --content-padding: 1rem;
  }
}

@layer base {
  html {
    font-family: "Red Hat Text", sans-serif;
    font-display: swap;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(var(--season-bg), 1);
    scroll-behavior: smooth;
  }

  body {
    width: 100vw;
    height: 100%;
    overflow: auto;
    background-color: rgba(var(--season-bg), 1);
    color: rgba(var(--season-text), 1);
  }

  code {
    font-family: "Fira Code", monospace !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "League Spartan", sans-serif;
    font-display: swap;
    font-weight: bold;
    font-optical-sizing: auto;
    font-style: normal;

    @apply my-8;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  p {
    @apply my-5;
  }

  code:not(.expressive-code pre > code) {
    @apply py-0.5 
      px-2 
      rounded-lg 
      text-[0.85em] 
      bg-season-text/5 
      dark:bg-season-text/10
      text-season;
  }

  blockquote {
    @apply relative pl-4 my-5 italic;

    &:before {
      content: "";
      @apply absolute top-0 bottom-0 left-0 w-1 rounded-lg bg-season/50;
    }
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul,
  ol {
    @apply pl-5 my-5;

    > ul,
    > ol {
      @apply my-0;
    }

    > li {
      @apply my-2;
    }
  }
}

a:not(.ignore),
a:not(.ignore):visited,
a:not(.ignore):active {
  position: relative;
  color: rgba(var(--season-primary), 1);
  text-decoration: none;
}

a:not(.ignore) {
  border-bottom: 1px dashed rgba(var(--season-primary), 0.5);

  &:hover {
    border-bottom-color: rgba(var(--season-primary), 1);
  }
}

a.ignore-active {
  border-bottom-color: transparent;
}

a[target="_blank"]:not(.ignore):after {
  content: "↖︎";
  font-size: 0.75rem;
  display: inline-block;
  transform: scaleX(-1);
  font-size: 0.6rem;
}

.logo {
  color: rgba(var(--season-primary), 1);
  fill: rgba(var(--season-primary), 1);
  stroke: rgba(var(--season-primary), 1);
}

aside.admonition {
  &:before {
    content: attr(data-tag);
    @apply px-3 py-1 text-xs font-bold rounded-md justify-self-start bg-season-text/5 dark:bg-season-text/10 -ml-1.5 -mt-1.5;
  }

  > p:first-of-type {
    @apply mt-0;
  }

  > p:last-of-type {
    @apply mb-0;
  }
}
