---
import CurrentlyWorking from "../components/CurrentlyWorking.astro";
import CurrentStack from "../components/CurrentStack.astro";

import LatestBlogs from "../components/LatestBlogs.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
  <div class="grid grid-flow-row grid-cols-1">
    <div class="flex flex-col justify-center w-full h-full gap-2">
      <div
        class="flex flex-col justify-center w-full h-full gap-2 py-14 sm:py-28"
      >
        <h1 class="m-0">Samrith Shankar</h1>

        <p class="max-w-sm m-0 mb-2">
          TypeScript, DevX, CLI, tooling, open source.
        </p>

        <CurrentStack />
      </div>

      <CurrentlyWorking />

      <LatestBlogs />
    </div>
  </div>
</RootLayout>
