---
import FeaturedProjects from "@/components/Projects/FeaturedProjects.astro";

import LatestBlogs from "@/components/LatestBlogs.astro";
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout>
  <div class="grid grid-flow-row gap-10">
    <div class="py-10">
      <h1 class="m-0">Samrith Shankar</h1>
      <p class="max-w-sm m-0">
        Full-stack, TypeScript, DevX, CLI, tooling, open source.
      </p>
    </div>

    <LatestBlogs />

    <FeaturedProjects />
  </div>
</RootLayout>
