<button
  class="overflow-hidden border rounded-lg h-9 aspect-square border-season-bg"
>
  <span class="absolute top-0 bottom-0 left-0 right-0"></span>
  <img src="/images/me.jpg" class="w-full h-full" />
</button>
