---
import AstroIcon from "../components/Icons/AstroIcon.astro";
import GraphqlIcon from "../components/Icons/GraphqlIcon.astro";
import NestJSIcon from "../components/Icons/NestJSIcon.astro";
import PostgresIcon from "../components/Icons/PostgresIcon.astro";
import ReactIcon from "../components/Icons/ReactIcon.astro";
import RemixIcon from "../components/Icons/RemixIcon.astro";
import TailwindIcon from "../components/Icons/TailwindIcon.astro";
import TypeScriptIcon from "../components/Icons/TypeScriptIcon.astro";
---

<div
  class="flex flex-col w-max max-w-full gap-3 !p-0 px-6 py-4 rounded-lg group transition-shadows duration-1000 bg-season-text/0 mt-5"
>
  <div class="text-sm text-season-text/50 transition-colors duration-1000">
    Currently using:
  </div>
  <div class="flex gap-2 items-center flex-wrap">
    <span
      class="transition-opacity hover:!opacity-100 group-hover:opacity-50 duration-500"
    >
      <TypeScriptIcon description="TypeScript" />
    </span>

    <span
      class="transition-opacity hover:!opacity-100 group-hover:opacity-50 duration-500"
    >
      <ReactIcon description="React" />
    </span>

    <span
      class="transition-opacity hover:!opacity-100 group-hover:opacity-50 duration-500"
    >
      <RemixIcon description="Remix" />
    </span>

    <span
      class="transition-opacity hover:!opacity-100 group-hover:opacity-50 duration-500"
    >
      <AstroIcon description="Astro" />
    </span>

    <span
      class="transition-opacity hover:!opacity-100 group-hover:opacity-50 duration-500"
    >
      <TailwindIcon description="Tailwind" />
    </span>

    <span
      class="transition-opacity hover:!opacity-100 group-hover:opacity-50 duration-500"
    >
      <NestJSIcon description="NestJS" />
    </span>

    <span
      class="transition-opacity hover:!opacity-100 group-hover:opacity-50 duration-500"
    >
      <GraphqlIcon description="GraphQL" />
    </span>

    <span
      class="transition-opacity hover:!opacity-100 group-hover:opacity-50 duration-500"
    >
      <PostgresIcon description="Postgres" />
    </span>
  </div>
</div>
