---
import Logo from "./Logo.astro";
import { ModesToggle } from "./ModesToggle";
---

<header
  class="sticky top-0 left-0 z-50 flex items-center h-20 py-5 backdrop-blur-lg"
  id="header"
>
  <nav
    class="grid grid-cols-[max-content,max-content] justify-between gap-0.5 px-4 mx-auto max-w-5xl w-full items-center"
  >
    <a
      href="/"
      class="ignore"
      aria-label="Logo of Samrith Shankar - an S inside a squircle"
    >
      <Logo />
    </a>

    <!-- <SeasonsToggle season={season} client:load /> -->

    <ModesToggle client:load />
  </nav>
</header>
<style>
  #header {
    height: var(--header-height);
  }
</style>
