---
import { getCollection } from "astro:content";
import { SEASONS } from "@/consts";
import { cn } from "@/utils/cn";
import FormattedDate from "./FormattedDate.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((p) => p.slug.toLowerCase().trim() !== "dummy");

const havePosts = posts.length > 0;
---

{
  havePosts ? (
    <div class="grid grid-flow-row gap-6">
      <div class="grid grid-cols-1 gap-10 grid-flow-rows">
        {posts.map((post) => (
          <div class="flex flex-row-reverse items-start gap-6 sm:flex-row">
            <FormattedDate
              class="text-season-text/50 shrink-0"
              date={post.data.pubDate}
            />
            <div class="w-full">
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </div>
          </div>
        ))}
      </div>
    </div>
  ) : null
}
