---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

import { CURRENT_SEASON, Seasons } from "@/consts";

type Props = {
  title?: string;
  description?: string;
  season?: Seasons;
  autoDetectSeason?: boolean;
  noFooter?: boolean;
  noMain?: boolean;
  og?: {
    title?: string;
    description?: string;
  };
};

const { title, description, season, noMain, noFooter, og } = Astro.props;

const currentSeason = (season || CURRENT_SEASON) as Seasons;
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline>
      let mode = localStorage.getItem("mode");

      if (!mode) {
        if (
          window.matchMedia &&
          window.matchMedia("(prefers-color-scheme: dark)").matches
        ) {
          mode = "dark";
        } else {
          mode = "light";
        }
      }

      localStorage.setItem("mode", mode);
      document.querySelector("html").classList.add(mode);
      window.MODE = mode;
    </script>

    <BaseHead title={title} description={description} og={og} />
  </head>
  <body>
    <Header season={currentSeason} transition:persist />
    {
      !noMain ? (
        <main class="relative z-1 max-w-4xl mx-auto w-full px-4" id="main">
          <slot />
        </main>
      ) : (
        <slot />
      )
    }
    {!noFooter ? <Footer /> : null}
  </body>
</html>
